<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">🍽️ TascaEats</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link" href="/restaurantes">Restaurantes</a></li>
                    <li class="nav-item"><a class="nav-link" href="/menus">Menus</a></li>
                    <li class="nav-item"><a class="nav-link" href="/pedidos">Meus Pedidos</a></li>
                    <li class="nav-item"><a class="nav-link" href="/clientes/moradas">Moradas</a></li>
                </ul>
                <ul class="navbar-nav">
                    <!-- usar session ou authentication para mostrar nome do user -->
                    <li class="nav-item dropdown" th:if="${session.user != null}">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                            <i class="fas fa-user"></i> <span th:text="${session.user.nome}">Utilizador</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="/users/me">Perfil</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/auth/logout">Sair</a></li>
                        </ul>
                    </li>
                    <li class="nav-item" th:unless="${session.user != null}">
                        <a class="nav-link btn btn-outline-light" href="/login">Entrar</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</html>